# Bases de datos utilizadas

<ul>
    <li>
       <a href=https://www.dane.gov.co/index.php/estadisticas-por-tema/comercio-internacional/exportaciones/exportaciones-historicos> Historicos de exportaciones </a>
    </li>
    <li>
        <a href=https://www.dnp.gov.co/programas/desarrollo-empresarial/comercio-exterior-e-inversion-extranjera/Paginas/estadisticas.aspx> Exportaciones vista general </a>
    </li>
    <li>
        <a> https://www.mincit.gov.co/estudios-economicos/estadisticas-e-informes </a>
    </li>
    <li>
        <a> https://www.vuce.gov.co/servicio-al-ciudadano/estadisticas-registradas-bacex </a>
    </li>
    <li>
        <a> https://bi.vuce.gov.co/analytics/saw.dll?dashboard </a>
    </li>
</ul>

## Importaciones de librerías

In [24]:
%config IPCompleter.greedy=True
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [32]:
mainpath = "./datasets"
filename= "expo_productos.csv"
fullpath = os.path.join(mainpath, filename)

In [35]:
data = pd.read_csv(fullpath,sep=";")

In [36]:
#Visualizo las columnas del dataset
data.columns.values

array(['Mes', 'Total', 'Agropecuarios, alimentos y bebidas',
       'Combustibles y Prod de industrias extractivas ', 'Manufacturas',
       'Otros sectores '], dtype=object)

,Mes,Total,"Agropecuarios, alimentos y bebidas",Combustibles y Prod de industrias extractivas,Manufacturas,Otros sectores
0,ene-95,689.342,285.630,163.985,227.023,12.702
1,feb-95,761.988,286.773,168.298,295.860,11.057
2,mar-95,912.372,346.754,213.452,335.566,16.600
3,abr-95,780.218,291.450,214.234,262.060,12.474
4,may-95,922.133,344.333,252.655,312.023,13.123
...,...,...,...,...,...,...
301,feb-20,2.943.093,681.998,1.509.119,571.646,180.330
302,mar-20,2.439.036,640.248,978.526,625.305,194.956
303,abr-20,1.864.239,569.284,721.508,443.733,129.714
304,may-20,2.221.544,614.096,953.877,429.897,223.674
305,jun-20,2.278.120,615.027,929.123,488.127,245.843