# Bases de datos utilizadas

<ul>
    <li>
       <a href=https://www.dane.gov.co/index.php/estadisticas-por-tema/comercio-internacional/exportaciones/exportaciones-historicos>Colombia, exportaciones totales según grupos de productos OMC a partir de la agregación CUCI Rev.3. 2010-2020p (junio) </a>
    </li>
    <li>
        <a href= href=https://www.dane.gov.co/index.php/estadisticas-por-tema/comercio-                        internacional/exportaciones/exportaciones-historicos> Colombia, principales destinos de las exportaciones. 2008p - 2020p (junio)</a>
    </li>
</ul>

## Importaciones de librerías

In [198]:
%config IPCompleter.greedy=True
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Carga de documentos

In [216]:
#Cargar datos sobre los productos
mainpath1 = "./datasets"
filename1 = "expo_productos.csv"
fullpath1 = os.path.join(mainpath1, filename1)
#Cargar datos sobre los paises
mainpath2 = "./datasets"
filename2 = "expo_paises.csv"
fullpath2 = os.path.join(mainpath2, filename2)

In [228]:
data1 = pd.read_csv(fullpath1,sep=";")
data2 = pd.read_csv(fullpath2,sep=";")

In [229]:
#Visualizo las columnas del dataset
data1.columns.values

array(['Year', 'Agropecuarios, alimentos y bebidas',
       'Combustibles y Prod de industrias extractivas', 'Manufacturas',
       'Otros sectores', 'Unnamed: 5'], dtype=object)

<h2>En este data set se presenta las ventas en miles de dolares de cada una de los grupos de los productos desde el año 2016-2019</h2>

In [230]:
data1

,Year,"Agropecuarios, alimentos y bebidas",Combustibles y Prod de industrias extractivas,Manufacturas,Otros sectores,Unnamed: 5
0,2016,6864748.0,15801567.0,7526108.0,1575917.0,NaN
1,2017,7355648.0,21171675.0,7709991.0,1784545.0,NaN
2,2018,7301253.0,24783269.0,8324362.0,1495893.0,NaN
3,2019,7362741.0,22011293.0,8290324.0,1824807.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
301,feb-20,NaN,681998.0,1509119.0,571646.0,180330.0
302,mar-20,NaN,640248.0,978526.0,625305.0,194956.0
303,abr-20,NaN,569284.0,721508.0,443733.0,129714.0
304,may-20,NaN,614096.0,953877.0,429897.0,223674.0
305,jun-20,NaN,615027.0,929123.0,488127.0,245843.0

In [237]:
#Se escoge un subcojunto del dataset y se borra la columna que no tiene ningún contenido
expo_products = data1[0:4].dropna(axis=1, how="all")
expo_products

,Year,"Agropecuarios, alimentos y bebidas",Combustibles y Prod de industrias extractivas,Manufacturas,Otros sectores
0,2016,6864748.0,15801567.0,7526108.0,1575917.0
1,2017,7355648.0,21171675.0,7709991.0,1784545.0
2,2018,7301253.0,24783269.0,8324362.0,1495893.0
3,2019,7362741.0,22011293.0,8290324.0,1824807.0

<h2>En este data set se presenta las exportaciones hacia los principales paises destino desde el año 2008-2020</h2>

In [188]:
#Se eliminan aquellas columnas y filas que no cargaron correctamente
temp = data2.dropna(axis=0, how="all")
temp2 = temp.dropna(axis=1, how="all")

In [181]:
expo_paises = temp2[96:144]
expo_paises

,Mes,Union Europea,Canada,Estados Unidos,Mexico,Bolivia,Ecuador,Peru,Argentina,Brasil,Paraguay,Uruguay,Venezuela,China,Japon,India,Panama,Resto de paises,Total Exportaciones
96,ene-16,269051,15304,678398,45032,8763,67689,52657,7783,53888,1088,3196,75239,100682,20775,8417,83673,427419,1919053
97,feb-16,446492,26077,810647,59350,9286,91750,98180,11743,61968,1913,1015,97454,99315,17327,6553,95368,394285,2328723
98,mar-16,338852,30926,827210,82019,13067,89136,84538,10723,58103,2370,1198,83305,104056,27129,33097,125201,424069,2334998
99,abr-16,484159,42934,778126,89830,8961,84918,77170,13240,60385,1442,937,55457,157873,60672,25139,95752,426798,2463793
100,may-16,465089,22981,1046973,87648,11896,98473,83592,9367,82453,4177,908,62172,78152,32294,47020,122841,495433,2751470
101,jun-16,464500,46757,936104,90069,11428,69573,88367,8358,69952,1665,1607,34749,148640,35939,11012,176085,585707,2780512
102,jul-16,291295,39517,828061,43735,7037,69100,49487,7576,79876,1472,1263,25091,136857,27066,5546,125485,528533,2266997
103,ago-16,568682,23474,878696,95537,16019,135025,100435,39774,138658,1505,1380,69056,53749,35657,13240,242063,631428,3044377
104,sep-16,385761,26627,784874,85670,15666,116964,98596,17693,89383,2037,1874,35688,89197,31155,14973,183652,817876,2797686
105,oct-16,349256,36955,789120,84579,10700,115931,127724,12911,138619,1281,2137,28948,186976,30654,16446,166014,671763,2770014
106,nov-16,344417,36508,989073,87699,25350,117707,83797,15861,89626,2160,1767,23844,80564,36341,19317,132081,747511,2833622
107,dic-16,606429,47659,938620,85710,10515,143456,106255,21183,71939,1327,16709,22931,137840,72624,24875,166681,1002342,3477094
108,ene-17,421201,27662,825401,71032,11491,93860,78578,8447,68329,806,5587,17956,141530,40710,17626,116267,838562,2785044
109,feb-17,367375,26848,890626,71160,9843,95318,67581,10880,109916,799,2869,19755,132375,51636,10502,165748,682794,2716024
110,mar-17,594541,62401,913671,103801,13212,99769,91278,18845,135134,2115,2127,32349,171081,42781,16589,170708,830018,3300421
111,abr-17,371311,34879,830458,74514,15077,98531,79801,14221,75065,1515,1344,27913,127888,42151,7251,170410,725664,2697992
112,may-17,583183,67510,1054070,139776,12939,105718,109541,22208,111266,1056,1638,24545,135596,37550,22938,175941,899963,3505436
113,jun-17,260998,27253,878518,103999,9846,139822,96201,20224,123985,1268,1439,32168,189165,41361,28768,247487,693111,2895612
114,jul-17,428768,36403,803756,126124,13319,114411,97436,18334,138878,2206,2424,29421,142787,40185,51483,287942,791606,3125483
115,ago-17,456483,32867,919013,110741,13068,134793,97456,20385,115019,3671,2449,31560,205762,35674,28061,220164,764434,3191598
116,sep-17,593965,63259,723545,205920,16688,140952,80669,46916,104328,1472,2062,30425,252165,57831,23160,265457,780865,3389679
117,oct-17,519149,38984,883181,83453,14040,135215,105035,28558,128235,2615,3928,24093,341725,57928,21070,225020,665289,3277516
118,nov-17,312462,28526,789433,101366,11822,131463,90955,24671,153990,1111,7106,28461,174517,42035,20563,266808,936948,3122237
119,dic-17,529978,79738,1103543,344776,13933,175468,143725,31888,99334,1290,3161,20737,196692,67518,31630,158435,1012973,4014818
120,ene-18,389512,68222,1051938,150427,11297,128572,109238,30419,148644,2070,1899,30131,240645,40164,7473,306534,607704,3324889
121,feb-18,354582,60084,858923,127003,8052,118196,84113,19450,104268,1672,5181,28745,201838,30063,21115,184610,819708,3027603
122,mar-18,397188,85855,806250,176781,10490,152403,85429,19213,144951,1069,1729,30109,337259,59236,8136,209603,839412,3365116
123,abr-18,497611,73450,1088541,162686,12324,158508,87043,20752,143220,2396,19936,42167,391624,48860,14493,192602,830323,3786537
124,may-18,494548,60642,881775,130194,13007,142864,89082,31466,132976,1746,2324,18072,312111,44811,82940,304391,976459,3719410
125,jun-18,407872,78168,939455,85666,12067,139877,90491,33242,131491,2669,2447,28659,290232,34391,80935,179601,794670,3331933
126,jul-18,358129,50538,928452,141236,13314,131208,116992,28054,149863,2612,5459,16334,243838,57075,235365,208261,945324,3632055
127,ago-18,391842,178379,911201,135440,12446,148586,166602,40807,151623,2669,3722,21438,240686,41459,17542,267923,952035,3684399
128,sep-18,336715,72443,798083,118072,10486,197289,80390,14800,112120,2124,4157,14298,452319,27678,10730,275924,985213,3512842
129,oct-18,518568,57693,809035,121004,13502,158109,95551,21090,140736,2057,2451,45642,643889,32043,26155,209665,871479,3768666
130,nov-18,310442,43277,751450,154876,12955,217706,79972,20654,109278,2065,2715,57546,397831,19631,18737,391496,752878,3343509
131,dic-18,437397,36684,849156,134726,13011,158649,80098,15594,92585,3135,2025,21153,420500,38652,24457,203357,876641,3407819
132,ene-19,397632,28310,872271,86804,9081,128544,82967,13049,147685,2118,8127,26359,345850,33951,25502,216966,640895,3066110
133,feb-19,423557,48234,873310,203991,8657,156487,117156,19304,98284,802,1399,23080,286728,35004,24190,167746,695141,3183071
134,mar-19,420721,38711,1168983,111906,12025,111855,108777,10562,96325,1262,1724,8406,211078,55489,10479,264381,712168,3344850
135,abr-19,499068,31250,1215045,139693,13047,200541,97478,28752,121049,1299,26578,16349,317020,31634,38160,158364,927492,3862819
136,may-19,505472,48212,1053023,165678,11496,154935,91508,22564,153392,1864,1749,17527,288944,27401,26458,266161,911958,3748342
137,jun-19,328949,35426,988546,92444,10070,166749,95202,16687,105870,4029,1441,13884,409627,34008,45617,146749,601066,3096363
138,jul-19,372943,36734,822213,105622,9933,174088,87511,31356,137420,1201,2219,14547,551089,39261,9452,123616,736623,3255830
139,ago-19,373317,28844,964156,105176,12885,173885,113577,19934,102319,4170,2331,11470,400531,39856,81361,155940,674510,3264261
140,sep-19,304163,33714,842811,100313,13293,160187,87128,25864,147339,2072,1804,15166,395291,45272,15689,233684,643557,3067349
141,oct-19,331737,36922,860755,119254,13015,198697,105726,17305,119875,1609,2144,13754,554695,42799,28949,209499,669761,3326497
142,nov-19,298685,38869,880243,86610,11068,166838,77038,10262,106934,1025,1907,17256,339880,32329,14027,237394,623260,2943625
143,dic-19,352774,40967,978762,91503,10040,161000,81881,20732,129250,2083,2890,18129,464196,49277,26298,173771,726499,3330051

<p> Una vez que los datos han sido cargados correctamente, se procede al análisis. Recordar que:</p>
<ul>
    <li> La información referente a los productos se encuentra dentro del dataset expo_products</li>
    <li> La información referente a los paises se encuentra dentro del dataset expo_paises</li>
</ul>

## Análisis para los grupos de productos

In [153]:
#Observamos las primeras filas del dataset
expo_products.head(10)

,Mes,Total,"Agropecuarios, alimentos y bebidas",Combustibles y Prod de industrias extractivas,Manufacturas,Otros sectores
252,ene-16,1919053,433952,923139,487423,74539
253,feb-16,2328723,634164,1021547,582779,90233
254,mar-16,2334998,609666,1032041,595090,98201
255,abr-16,2463793,694412,1084946,595974,88461
256,may-16,2751470,582966,1405690,662487,100328
257,jun-16,2780512,564851,1510722,627633,77306
258,jul-16,2266997,398592,1320327,460026,88052
259,ago-16,3044377,515677,1582507,825095,121099
260,sep-16,2797686,524664,1397914,693902,181206
261,oct-16,2770014,480854,1431113,682497,175549

In [154]:
#Revisamos los tipos de los datoss
expo_products.dtypes

Mes                                              object
Total                                             int64
Agropecuarios, alimentos y bebidas                int64
Combustibles y Prod de industrias extractivas     int64
Manufacturas                                      int64
Otros sectores                                   object
dtype: object

In [165]:
#Revisamos los estadisticos básicos para cada grupo
expo_products["Total"].describe().round(decimals=2)

count         48.00
mean     3149669.69
std       449440.13
min      1919053.00
25%      2824638.00
50%      3223714.00
75%      3394214.00
max      4014818.00
Name: Total, dtype: float64

In [187]:
expo_products[0:12]

,Mes,Total,"Agropecuarios, alimentos y bebidas",Combustibles y Prod de industrias extractivas,Manufacturas,Otros sectores
252,ene-16,1919053,433952,923139,487423,74539
253,feb-16,2328723,634164,1021547,582779,90233
254,mar-16,2334998,609666,1032041,595090,98201
255,abr-16,2463793,694412,1084946,595974,88461
256,may-16,2751470,582966,1405690,662487,100328
257,jun-16,2780512,564851,1510722,627633,77306
258,jul-16,2266997,398592,1320327,460026,88052
259,ago-16,3044377,515677,1582507,825095,121099
260,sep-16,2797686,524664,1397914,693902,181206
261,oct-16,2770014,480854,1431113,682497,175549
262,nov-16,2833622,587726,1362767,651850,231279
263,dic-16,3477094,837224,1728854,661352,249664