# Bases de datos utilizadas

<ul>
    <li>
       <a href=https://www.dane.gov.co/index.php/estadisticas-por-tema/comercio-internacional/exportaciones/exportaciones-historicos> Historicos de exportaciones </a>
    </li>
    <li>
        <a href=https://www.dnp.gov.co/programas/desarrollo-empresarial/comercio-exterior-e-inversion-extranjera/Paginas/estadisticas.aspx> Exportaciones vista general </a>
    </li>
    <li>
        <a> https://www.mincit.gov.co/estudios-economicos/estadisticas-e-informes </a>
    </li>
    <li>
        <a> https://www.vuce.gov.co/servicio-al-ciudadano/estadisticas-registradas-bacex </a>
    </li>
    <li>
        <a> https://bi.vuce.gov.co/analytics/saw.dll?dashboard </a>
    </li>
</ul>

## Importaciones de librerías

In [24]:
%config IPCompleter.greedy=True
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [32]:
mainpath = "./datasets"
filename= "expo_productos.csv"
fullpath = os.path.join(mainpath, filename)

In [35]:
data = pd.read_csv(fullpath,sep=";")

In [40]:
#Visualizo las columnas del dataset
cols = data.columns.values
cols

array(['Mes', 'Total', 'Agropecuarios, alimentos y bebidas',
       'Combustibles y Prod de industrias extractivas ', 'Manufacturas',
       'Otros sectores '], dtype=object)

<h2>En este data set se presenta las ventas en miles de dolares de cada una de los grupos de los productos, desde el año 1995-2020</h2>

In [55]:
data

,Mes,Total,"Agropecuarios, alimentos y bebidas",Combustibles y Prod de industrias extractivas,Manufacturas,Otros sectores
0,ene-95,689.342,285.630,163.985,227.023,12.702
1,feb-95,761.988,286.773,168.298,295.860,11.057
2,mar-95,912.372,346.754,213.452,335.566,16.600
3,abr-95,780.218,291.450,214.234,262.060,12.474
4,may-95,922.133,344.333,252.655,312.023,13.123
...,...,...,...,...,...,...
301,feb-20,2.943.093,681.998,1.509.119,571.646,180.330
302,mar-20,2.439.036,640.248,978.526,625.305,194.956
303,abr-20,1.864.239,569.284,721.508,443.733,129.714
304,may-20,2.221.544,614.096,953.877,429.897,223.674
305,jun-20,2.278.120,615.027,929.123,488.127,245.843

In [56]:
expo_products = data[252:300]

In [57]:
#Se realiza un subconjunto de filas para poder analizar las fechas de interés
expo_products

,Mes,Total,"Agropecuarios, alimentos y bebidas",Combustibles y Prod de industrias extractivas,Manufacturas,Otros sectores
252,ene-16,1.919.053,433.952,923.139,487.423,74.539
253,feb-16,2.328.723,634.164,1.021.547,582.779,90.233
254,mar-16,2.334.998,609.666,1.032.041,595.090,98.201
255,abr-16,2.463.793,694.412,1.084.946,595.974,88.461
256,may-16,2.751.470,582.966,1.405.690,662.487,100.328
257,jun-16,2.780.512,564.851,1.510.722,627.633,77.306
258,jul-16,2.266.997,398.592,1.320.327,460.026,88.052
259,ago-16,3.044.377,515.677,1.582.507,825.095,121.099
260,sep-16,2.797.686,524.664,1.397.914,693.902,181.206
261,oct-16,2.770.014,480.854,1.431.113,682.497,175.549
262,nov-16,2.833.622,587.726,1.362.767,651.850,231.279
263,dic-16,3.477.094,837.224,1.728.854,661.352,249.664
264,ene-17,2.785.044,537.259,1.637.140,486.556,124.090
265,feb-17,2.716.024,566.750,1.447.488,523.155,178.631
266,mar-17,3.300.421,787.523,1.694.794,643.487,174.616
267,abr-17,2.697.992,552.715,1.496.954,509.615,138.708
268,may-17,3.505.436,720.055,1.916.451,691.552,177.377
269,jun-17,2.895.612,601.227,1.463.245,663.638,167.502
270,jul-17,3.125.483,630.959,1.687.646,678.998,127.881
271,ago-17,3.191.598,629.979,1.695.027,732.925,133.667
272,sep-17,3.389.679,622.068,1.945.122,692.336,130.152
273,oct-17,3.277.516,584.371,1.837.678,704.861,150.606
274,nov-17,3.122.237,569.719,1.696.158,718.175,138.185
275,dic-17,4.014.818,553.023,2.653.972,664.693,143.130
276,ene-18,3.324.889,682.149,1.986.100,595.728,60.913
277,feb-18,3.027.603,617.660,1.660.936,620.610,128.397
278,mar-18,3.365.116,635.808,1.933.258,678.867,117.183
279,abr-18,3.786.537,673.927,2.239.079,751.507,122.023
280,may-18,3.719.410,692.528,2.144.045,754.599,128.239
281,jun-18,3.331.933,591.486,1.905.268,714.617,120.561
282,jul-18,3.632.055,574.750,2.224.563,705.461,127.281
283,ago-18,3.684.399,628.868,2.191.686,730.207,133.637
284,sep-18,3.512.842,511.013,2.177.809,702.563,121.457
285,oct-18,3.768.666,581.151,2.305.635,737.734,144.146
286,nov-18,3.343.509,549.654,2.003.739,662.737,127.379
287,dic-18,3.407.819,562.259,2.011.151,669.732,164.677
288,ene-19,3.066.110,641.110,1.640.274,666.172,118.554
289,feb-19,3.183.071,658.574,1.747.816,639.279,137.402
290,mar-19,3.344.850,626.950,1.944.411,617.187,156.302
291,abr-19,3.862.819,628.475,2.346.930,755.901,131.513
292,may-19,3.748.342,695.040,2.238.711,697.590,117.000
293,jun-19,3.096.363,524.733,1.858.246,621.227,92.157
294,jul-19,3.255.830,592.897,1.784.233,745.289,133.411
295,ago-19,3.264.261,643.121,1.732.959,698.512,189.668
296,sep-19,3.067.349,521.278,1.643.277,725.027,177.767
297,oct-19,3.326.497,616.830,1.745.882,800.327,163.458
298,nov-19,2.943.625,587.014,1.553.536,632.739,170.336
299,dic-19,3.330.051,626.719,1.775.018,691.074,237.239